@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scrollbar-width: thin;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: whitesmoke;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #0ea5e9;
  border-radius: 20px;
  border: 3px solid #0ea5e9;
}

html,
body {
  height: 100%;
  background-color: #18181b;
}

main {
  background-image: url("/image/mystic.avif");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
